In [1]:
import numpy as np

In [2]:
np.random.random()

0.3931650409029399

In [3]:
np.random.random()

0.023661436291140814

this function gives any random value between from 0 to 1

In [19]:
 np.random.seed(1)

In [20]:
np.random.random()

0.417022004702574

In [22]:
 np.random.seed(1)

In [24]:
np.random.random()

0.7203244934421581

so here a logic if we run the random function by integrating seed function  it gives the same number...

In [25]:
np.random.uniform(3,10)

3.000800623721414

In [26]:
np.random.uniform(3,10)

5.116328008422879

so by this function we could generate a random value from specific range

In [31]:
 np.random.uniform(1,100,10)

array([69.49583428, 32.23604747, 68.96359184, 83.62794152,  2.81053946,
       75.26428718, 98.8972478 , 75.06839978, 28.76395521, 79.13865352])

1,100 means that value will come  out between this range ...but ladt 10 digit is telling that only 10 elemment will be generate .....

In [4]:
np.random.uniform(1,100,10).reshape(2,5)

array([[15.66178538, 69.56470905, 40.33807058,  1.39426087, 30.3948254 ],
       [62.0521653 , 53.09388236, 99.2729599 , 14.07528454, 34.45067303]])

by this function we could shape 1d array into 2 d array

In [33]:
np.random.uniform(1,100,10).reshape(5,2)

array([[49.66574277,  6.28289197],
       [57.83764294, 15.52612892],
       [59.34124815, 70.27607764],
       [11.13110845, 41.99154279],
       [69.74561562, 42.00374768]])

by this function we could shape 1 d into an array int 2d

In [34]:
np.random.randint(1,10)

9

In [35]:
np.random.randint(1,10)

7

by this function u could get random intezer....

In [42]:
np.random.randint(1,10,5)

array([1, 2, 9, 3, 4])

array created of 5 digit ...digits will be between from 1 to 10

In [51]:
np.random.randint(1,10,10).reshape(2,5)

array([[5, 7, 9, 9, 3],
       [8, 6, 6, 5, 6]])

1,10 :: means numbers will be come out between 1 to 10 ...
10 :: means number will be total 10 elements
reshape (2,5) :: means array 2 and 5 coloumn ...

but to find the max number from the aaray we have to store the array into any variable

In [67]:
 v = np.random.randint(1,10,10).reshape(2,5)

In [66]:
v

array([[9, 6, 9, 2, 2],
       [9, 8, 1, 4, 5]])

In [58]:
np.max(v)

np.int64(9)

by storing the array  into the variable we get the maximum elelments...

In [65]:
np.min(v)

np.int64(1)

we got the minimum elements

In [63]:
np.argmax(v)

np.int64(0)

it gives the  index value of maximum index value

In [ ]:
v[np.argmax(v)]

this function again  understand by the camous x from the last numy important function

In [73]:
v = np.random.randint(1,10,6)

In [74]:
v

array([1, 8, 3, 9, 4, 1])

In [8]:
v = np.random.randint(1,10,6)

In [9]:
v

array([5, 3, 3, 3, 6, 6])

In [11]:
v[v%2==1] = -1

means the elemnt which devide from 2 and output gives 1 ...change that element  into the -1 and rest writes the same elements.....

In [12]:
v

array([-1, -1, -1, -1,  6,  6])

In [16]:
v = np.random.randint(1,50,6)

In [17]:
v

array([ 6, 45, 44, 47, 30, 30])

In [20]:
np.where(v%2==1,-1 , v)

array([50, -1, 50, -1, 50, 50])

did not get function ...go through campus x ..last numpy vdo

In [21]:
v = np.random.randint(1,50,10)

In [23]:
v

array([10, 43, 28, 36, 39, 10,  1,  3, 45, 35])

In [26]:
v = np.sort(v)

by this function we get sorted arry within the range ...either ascending or descending ......

In [30]:
v

array([ 1,  3, 10, 10, 28, 35, 36, 39, 43, 45])

In [31]:
np.percentile(v,25)

np.float64(10.0)

means 25 percent elements  is less than 10 digits

In [32]:
np.percentile(v,50)

np.float64(31.5)

means  again 50 percent of elements are less than 31.5

In [33]:
 np.percentile(v,99)

np.float64(44.82)